* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: iransansweb;
  direction: rtl;
  font-size: 16px;
  overflow: hidden;
}

html, body {
  height: 100vh;
  width: 100vw;
}

div.coming-soon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.coming-soon div.logo {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.coming-soon div.logo img {
  height: 50%;
}

div.coming-soon div.vector {
  height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.coming-soon div.vector img {
  height: 100%;
}

div.coming-soon div.description {
  height: 70vh;
  background-color: #30ADE3;
  position: relative;
  color: white;
  padding: 20px;
  width: 80%;
  border-radius: 10px 10px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.coming-soon div.description div.content {
  position: absolute;
  text-align: center;
}

div.coming-soon div.description div.content h1 {
  margin-top: 20px;
  font-size: 1.8rem;
}

div.coming-soon div.description div.content div {
  font-size: 0.9rem;
  margin-top: 30px;
}

@media only screen and (min-width: 500px) {
  div.coming-soon div.vector {
    height: 30vh;
    width: 100%;
  }
  div.coming-soon div.description {
    height: 60vh;
  }
}

@media only screen and (min-width: 700px) {
  div.coming-soon div.vector {
    height: 40vh;
    width: 100%;
  }
  div.coming-soon div.description {
    height: 50vh;
  }
}

@media only screen and (min-width: 1000px) {
  div.coming-soon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  div.coming-soon div.image {
    width: 60%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  div.coming-soon div.image div.logo {
    height: auto;
    width: 100%;
    display: block;
    position: absolute;
    top: 40px;
    left: 40px;
    text-align: left;
  }
  div.coming-soon div.image div.logo img {
    width: 100px;
    height: auto;
  }
  div.coming-soon div.image div.vector {
    height: auto;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.coming-soon div.image div.vector img {
    height: auto;
    width: 100%;
  }
  div.coming-soon div.description {
    width: 40% !important;
    min-height: 100vh;
    background-color: #30ADE3;
    position: relative;
    color: white;
    padding: 0px !important;
    width: 80%;
    border-radius: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.coming-soon div.description div.content {
    position: absolute;
    text-align: center;
    padding: 0px 100px;
  }
  div.coming-soon div.description div.content h1 {
    margin-top: 0px;
    font-size: 1.8rem;
  }
  div.coming-soon div.description div.content div {
    font-size: 0.9rem;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=main.css.map */